target create /home/alx/simplos/fullkernel/target/x86_64-unknown-none/release/build/simplos/3e31a298c2ecc0fd/artifact/bin/simplos
target modules load --file /home/alx/simplos/fullkernel/target/x86_64-unknown-none/release/build/simplos/3e31a298c2ecc0fd/artifact/bin/simplos --slide 0x8000000000
process handle SIGTRAP -s false
